<h1>WebRTC Broadcaster</h1>
<div class="container">
  <video #localVideo autoplay [muted]="true" playsinline></video>
  <div class="controls">
    <button [disabled]="startButtonDisabled" (click)="startCamera()">Start Camera</button>
    <button [disabled]="broadcastButtonDisabled" (click)="startBroadcasting()">Start Broadcasting</button>
    <button [disabled]="stopButtonDisabled" (click)="stopBroadcasting()">Stop Broadcasting</button>
  </div>
  <div id="status" class="status" [ngClass]="statusClass">{{ statusMessage }}</div>
</div>